$app-main-font: 'Karla',
sans-serif;
$app-body-bg: rgba(255, 255, 255, 0.5);
$header-bg: rgba(255, 255, 255, 0.9);
$subnav-link-padding: 0.9rem;
$subnav-font-size: 1rem;
$subnav-link-opacity: 0.15;
$header-height: 2.5rem;
$transition: all .35s ease-in-out;
// Colors
$gray-light: #f2f2f2;
$gray: #ccc;
$gray-dark: #333;
// $red: #F51441;
// Corp-Colors
// $corp-color: $gray !default;
// $corp-color-second: $red !default;
// Fonts
// $base-font-family: Karla !default;
// $base-font-size: 18px !default;
// $base-font-color: $gray !default;
// Misc
// $base-border-color: $gray-light !default;
// $base-border-radius: 3px !default;
// $link-color: $red !default;