<header class="header">
    <div class="row align-center">
        <div class="small-10 medium=10 large-10 columns">
            <div class="logo">
                <a routerLink="/home" routerLinkActive="is-active" class="is-active"><img src="./../../../assets/source-code-001-header__3x-opt.jpg" alt=""></a>
            </div>
            <md-toolbar>
                <md-toolbar-row>
                    <ul class="navbar">
                        <li><a routerLink="/home" routerLinkActive="is-active" class="is-active">home</a></li>
                        <li><a routerLink="/chat" routerLinkActive="is-active">chat</a></li>
                        <li><a routerLink="/espresso-journal" routerLinkActive="is-active">espresso journal</a></li>
                        <li><a routerLink="/filter-journal" routerLinkActive="is-active">filter journal</a></li>
                        <li><a routerLink="/chat" routerLinkActive="is-active">chat</a></li>
                        <li><a routerLink="/stocklist" routerLinkActive="is-active">stocklist</a></li>
                    </ul>
                </md-toolbar-row>
            </md-toolbar>
        </div>
    </div>
</header>