<div class="row">
    <div class="column">
        <md-card>
            <h4>hey {{ name.auth.displayName }}! below you'll find 20 most recent messages</h4>
        </md-card>
        <md-card>
            <div class="chat-container" *ngFor="let item of items | async">
                <a href="#">{{item.name}}</a>

                <p>{{item.message}}</p>
            </div>
        </md-card>
        <md-card>

            <input type="text" id="message" *ngIf="name" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />
        </md-card>


    </div>
</div>