<footer class="footer">
    <div class="row align-center">
        <div class="small-10 medium=10 large-10 columns">
            <md-toolbar class="toolbar">
                <ul class="navbar">
                    <li>
                        <a routerLink="/contacts" routerLinkActive="is-active">contacts
        </a>
                    </li>
                    <li><a routerLink="/members" routerLinkActive="is-active" class="is-active">members</a></li>
                </ul>
            </md-toolbar>
            <div class="row">
                <div class="small-2 medium=2 large-2 column align-self-top">
                    <a routerLink="/home" routerLinkActive="is-active"><img src="../../../assets/svg/TPV-TCP-logo-cleaned.svg" alt="">
                    </a>
                </div>
                <div class="columns align-self-bottom">
                </div>
                <div class="small-2 medium=2 large-2 column align-self-top">
                    <a routerLink="/home" routerLinkActive="is-active"><img src="../../../assets/svg/rafszul.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>