<footer class="footer">
  <div class="row">
    <ul class="footer-subnav">
      <li>
        <a routerLink="/contact" routerLinkActive="is-active">contact
        </a>
      </li>
      <li><a routerLink="/home" routerLinkActive="is-active" class="is-active">home</a></li>
    </ul>
  </div>
  <div class="row">
    <!--<div class="small-2 medium=2 large-2 columns align-self-bottom">
      <h5><small>in association with:</small></h5>
    </div>-->
    <div class="small-2 medium=2 large-2 column align-self-top">
      <a routerLink="/home" routerLinkActive="is-active"><img src="../../assets/TPV-TCP-logo-cleaned.svg" alt="">
      </a>
    </div>
    <div class="columns align-self-bottom">
    </div>
    <!--<div class="small-2 medium=2 large-2 columns align-self-bottom">
      <h5><small>hacked by:</small></h5>
    </div>-->
    <div class="small-2 medium=2 large-2 column align-self-top">
      <a routerLink="/home" routerLinkActive="is-active"><img src="../../assets/rafszul.svg" alt="">
      </a>
    </div>
  </div>
</footer>
