<!--<div class="app-body">-->
<div class="row">
  <div class="column">
    <ul>
      <li class="text" *ngFor="let item of items | async">
        {{item.$value}}
      </li>
    </ul>
    <div class="card">
      <img class="" src="../assets/export-001/svg/cleaned/horiz-image-02.svg" alt="Photo of Pluto.">
      <div class="card-section">
        <h4>This is a card.</h4>
        <ul>
          <li class="text" *ngFor="let item of items | async">
            {{item.$value}}
          </li>
        </ul>
      </div>
    </div>
    <!-- -->
    <div class="row small-up-2 medium-up-3">
      <div class="column">
        <div class="card">
          <img src="../../assets/__pckg/source-code-in-png/source-code-001__3x.jpg">
          <div class="card-section">
            <h4>This is a card.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="../../assets/__pckg/source-code-in-png/source-code-002__3x.jpg">
          <div class="card-section">
            <h4>This is a card.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="../../assets/__pckg/source-code-in-png/source-code-003__3x.jpg">
          <div class="card-section">
            <h4>This is a card.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns">
        <div class="card">
          <img src="../../assets/__pckg/source-code-in-png/source-code-004__3x.jpg">
          <div class="card-section">
            <h4>This is a card.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
      <div class="medium-5 columns">
        <div class="card">
          <img src="../../assets/__pckg/source-code-in-png/source-code-001-header__3x">
          <div class="card-section">
            <h4>This is a card.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
      <div class="medium-3 columns">
        <div class="card">
          <img src="../../assets/__pckg/TPV-CP-Team-App-Backgrounds/png/horiz-image-01.png">
          <div class="card-section">
            <h4>This is a card.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="card">
      <img class="" src="../../assets/__pckg/TPV-CP-Team-App-Backgrounds/png/desk-image.png" alt="Photo of Pluto.">
      <div class="card-section">
        <h4>This is a card.</h4>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
      </div>
    </div>
    <h4>
      Pomegranate connects and nurtures close relationships with some of the best British producers and restaurants.</h4>
    <br>
    <a class="expanded large button" routerLink="/contact" routerLinkActive="is-active">Get in touch!</a>
  </div>
</div>
<!--</div>-->
