<!--<div class="row">
    <div class="column">-->
<h2>hey {{ name.auth.displayName }}!</h2>
<ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.$value}}
    </li>
</ul>

<button (click)="logout()" class="hollow button">logout</button>
<ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.$value}}
    </li>
</ul>
<div class="card">
    <img class="" src="./../../assets/source-code-in-jpg-opt/source-code-003__3x-opt" alt="Photo of Pluto.">
    <div class="card-section">
        <h4>This is a card.</h4>
        <ul>
            <li class="text" *ngFor="let item of items | async">
                {{item.$value}}
            </li>
        </ul>
    </div>
</div>
<!--</div>
</div>-->