.footer {
    text-align: center;
    background: $header-bg;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: $header-height;
    padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);
    .headline {
        color: #000000;
    }
}

.footer-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    li {
        // float: none;
        display: inline-block;
        a {
            padding: $subnav-link-padding 1rem;
            font-size: $subnav-font-size;
            color: #000000;
            text-transform: uppercase;
            display: block;
            font-weight: bold;
            letter-spacing: 1px;
            transition: $transition;
            &.is-active {
                background: rgba(250, 250, 250, $subnav-link-opacity);
            }
            &:hover {
                background: rgba(50, 50, 50, $subnav-link-opacity);
                transition: $transition;
            }
        }
    }
}
